section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  display: none;
}

.slectImagem {
  background-color: #4d72df;
  color: #ffff;
  height: 25px;
  width: 250px;
  align-items: center;
  border-radius: 8px;
  transition: all 0.5s;
  justify-content: center;
}

.slectImagem:hover {
  scale: 1.05;
  background-color: #6d7fb6;
  color: #ffff;
  cursor: pointer;
}

.submit {
  background-color: #4d72df;
  color: #ffff;
  height: 40px;
  width: 550px;
  border-radius: 8px;
  transition: all 0.5s;
  border: none;
  margin-top: 15px;
}

.submit:hover {
  scale: 1.05;
  background-color: #404dff;
  color: #ffff;
  cursor: pointer;
}
.selectnumber {
  background-color: #ffffff;
  height: 40px;
  width: 160px;
  align-items: center;
  border-radius: 8px;
  border-color: #404dff;
  justify-content: center;
  margin-bottom: 10px;
}
.intxt {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#statusImagem,
#statusPlanilha {
  justify-content: center;
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
}
.TBmodel {
  margin-top: 10px;
  margin-bottom: 0px;
}
.Dbtn {
  border-radius: 10px;
  color: white;
  background-color: #404dff;
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
  border-color: rgb(79, 77, 76);
}
.Dbtn:hover {
  scale: 1.05;
  background-color: #0040ff;
  color: #ffff;
  cursor: pointer;
}
.download {
  text-align: center;
}
form {
  text-align: center;
}
#tipoLink {
  margin-bottom: 20px;
}
#tipoLink {
  text-align: center;
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
#dropbox {
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

#tipoLink:hover,
#dropbox:hover {
  background-color: #f0f0f0;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
